<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache" />

    <!-- Set the ROOM_ID variable to the roomId that is passed in by server.js -->
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>

    <!-- Load in PeerJS library -->
    <!--<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>-->
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <!--<script src="/peerjs.min.js" defer></script>-->

    <!-- Load in socket.io library -->
    <script src="/socket.io/socket.io.js" defer></script>

    <!-- Load in script.js, our client-side script -->
    <script src="/script.js" defer></script>

    <!-- Load in style.css -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Make our video grid -->
    <div id="video-grid"></div>
</body>
</html>
